@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&display=swap");

* {
    margin: 0;
    padding: 0;

    font-family: "Raleway", sans-serif;
    color: var(--theme-purple);
}

header {
    height: 75px;
}

article {
    /*To account for both the headers size and also its top and bottom padding*/
    padding-top: calc(75px + 3%);
    min-height: 35vh;
}

:root {
    --theme-purple: #4a486b;
    --theme-light-purple: #6a6981;
    --theme-complimentary: #79aab1;
}

@media only screen and (max-width: 400px) {
    main {
        margin-top: 15% !important;
        margin-bottom: 10% !important;
    }
}

@media only screen and (max-width: 300px) {
    main {
        margin-top: 25% !important;
        margin-bottom: 10% !important;
    }
}
